<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Agribank works</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<style type="text/css">

</style>
</head>
<body>
	<h1>403</h1>
	<!-- /container -->
</body>
</html>