<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{agr.title}">Agribank works</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-3.3.7/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/flag-icon/flag-icon.css}" />

<script type="text/javascript" th:src="@{/js/jquery-3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-3.3.7/bootstrap.min.js}"></script>

</head>
<body>
	<div class="container">
		<h1>Access denied!</h1>
	</div>
</body>
</html>