h4{
    margin-left:  12px;
    margin-top: -61px;
    float: left;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    float: left;
}
.mc-select{
    margin-top: 20px;
    width: 146px;
    float: left;
    height: 30px;
    margin-top: -6px;
    margin-left: 1%;
}
.containerSearch
.content:before {
    margin-left: 100%;
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    border-top: 57px solid #11538C;
    border-bottom: 42px solid #11538C;
    border-left: 31px solid #37ABF2;

}

.mc-select select.select {
    background-color: #fff;
    border: 0;
    width: 137%;
    height: 36px;
    line-height: 40px;
    padding: 0 13px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #003350;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}

.mc-select .fa {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
    color: #013450;
    z-index: 1;
}

#srbtn {
    background: #edeef2;
    border: none;
    width: 94px;
    height: 43px;
    margin-top: -10px;
    background: #edeef2;
    border: none;
    width: 100px;
    height: 36px;
    margin-top: -6px;
    padding-left: -8px;
    margin-left: 103px;
    border-radius: 5px 5px 4px 5px;
    position: absolute;
    float: left;
    margin-left: 3%;
}

#search {
    width: 300px;
    height: 36px;
    background: #ffffff;
    margin: 20px 50px 50px 50px;
    padding: 5px;
    border-radius: 4px;
    float: left;
    margin-top: -6px;
    margin-left: 3%;
}

input {
    border-color: inherit;
    outline: none;
    width: 288px;
    height: 26px;
    border: none;
    margin-top: 1px;
    padding-left: 7px;
    float: left;
}

@charset "UTF-8";
body {
    padding: 0;
    background-color: #eee; }

.wpx-40{
    width: 40px !important; }

.wpx-60 {
    width: 60px !important; }

.wpx-70 {
    width: 70px !important; }

.wpx-80 {
    width: 80px !important; }

.wpx-90 {
    width: 90px !important; }

.wpx-100 {
    width: 100px !important; }

.float-l {
    float: left; }

.float-r {
    float: right; }

.mt-25 {
    margin-top: 25px; }

.m-25 {
    margin: 25px; }

.p-25 {
    padding: 25px; }

.mb-25 {
    margin-bottom: 25px; }

.mb-0,
.form-group.mb-0 {
    margin-bottom: 0; }

.font-size20 {
    font-size: 20px; }

.slimScrollDiv {
    max-height: 350px;
    min-width: 100%; }
.slimScrollDiv .table {
    max-height: 350px;
    height: auto !important; }

.khung h3 {
    margin-top: 10px; }

.avantar + .p-25 {
    padding-top: 10px !important; }

a.button-light {
    border: solid 1px #4cd3e9;
    padding: 1px 12px;
    display: block;
    color: #fff;
    text-align: center; }
a.button-light:hover {
    background: #148ea1; }
a.button-light i {
    margin-right: 6px; }

.btn.btn-primary {
    background-color: #17a2b8;
    border-color: #0f6674; }
.btn.btn-primary:hover {
    background-color: #148ea1; }

.border-trang {
    border-color: #fff !important; }

.title {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden; }
.title .add-use {
    float: right;
    color: #17a2b8;
    font-size: 80%;
    padding: 2px 10px;
    border-radius: 4px;
    border: solid 1px #7adeee;
    background: #fff; }
.title .add-use i {
    margin-right: 5px;
    color: #17a2b8; }
.title .add-use:hover {
    float: right;
    color: #fff;
    font-size: 80%;
    background: #17a2b8;
    padding: 2px 10px;
    border-radius: 4px;
    border: solid 1px #7adeee; }
.title .add-use:hover i {
    color: #fff; }

.stage {
    background: rgba(122, 189, 26, 0.8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a37abd1a, endColorstr=#a37abd1a)";
    color: #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 3px;
    width: auto;
    min-width: unset;
    text-transform: none;
    display: inline-block;
    padding: 2px 10px; }

.stage.-closed {
    background: rgba(195, 67, 67, 0.8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a3c34343, endColorstr=#a3c34343)"; }

.checkselect [aria-selected="true"]:before {
    font-family: FontAwesome;
    content: "\f14a";
    margin-right: 8px;
    margin-left: 3px; }

.checkselect [aria-selected="false"]:before {
    font-family: FontAwesome;
    content: "\f096";
    margin-right: 8px;
    margin-left: 3px; }

.gach-top {
    border-top: solid 1px #eee;
    margin-top: 15px; }

.bg-xam {
    background: #f5f5f5;
    border-left: solid 1px #eee; }

hr.bg-xam + .row {
    position: relative; }

hr.bg-xam {
    z-index: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px; }

hr.bg-xam + .row:before,
hr.bg-xam:before {
    content: "";
    width: 33.33333333%;
    display: block;
    position: absolute;
    background: #f5f5f5;
    right: 0;
    top: -1px;
    bottom: 0;
    z-index: 0;
    border-left: solid 1px #eee; }

.select2-selection .select2-selection--single {
    border: none;
    background: transparent;
    padding: 0;
    height: auto; }

.modal-body form.form-horizontal .row th .form-group {
    margin-top: -4px;
    margin-bottom: -3px; }

.red {
    color: #dc3545; }

.khung .input .select2-container--default {
    position: relative;
    font-size: 16px;
    padding: 19px 10px 8px;
    border: none;
    width: 100% !important;
    border-radius: 4px; }

.khung .input .select2-container--default .select2-selection--single {
    border: none;
    padding: 1px 0 0;
    height: auto; }

.khung .input .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 96%; }

.khung .input .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 25px; }

.modal-body label {
    font-weight: normal; }

.form-control[disabled],
.form-control[readonly],
.modal.modal-full .form-horizontal .select2-container--disabled.select2.select2-container,
.modal.modal-full .form-horizontal .select2-container--readonly.select2.select2-container,
.select2-container--default.select2-container--disabled .select2-selection--single,
.select2-container--default.select2-container--readonly .select2-selection--single,
fieldset[disabled] .form-control,
fieldset[readonly] .form-control,
span.select2.select2-container.select2-container--default.select2-container--disabled,
span.select2.select2-container.select2-container--default.select2-container--readonly {
    width: auto !important;
    display: inline-block;
    background: transparent;
    border: none; }

.form-horizontal > .bg-xam {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 15px;
    margin-bottom: -15px; }

.row.gach-top {
    background: #f5f5f5; }

.modal-footer {
    background: #eee; }

.form-group > div {
    padding-left: 0;
    padding-right: 0; }

.help-block {
    display: none; }

.table1 {
    display: none; }

.box {
    border-radius: 0;
    border-top-width: 1px;
    border-top-color: #e8e8e8 !important; }
.box .box-header > .box-tools .tooltip.top {
    left: -20px !important;
    top: -46px !important; }
.box .box-header > .box-tools .tooltip.top .tooltip-arrow {
    left: 50% !important; }
.box .box-header > .box-tools [data-toggle="tooltip"]:hover {
    background: #17a2b8; }

form.form-horizontal {
    overflow: visible; }
form.form-horizontal div {
    overflow: hidden; }

.bacham .dropdown-menu.dropdown-menu-right > li > .tooltip {
    white-space: nowrap; }
.bacham .tooltip-inner {
    background-color: #17a2b8;
    white-space: nowrap; }
.bacham .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #17a2b8; }

.select2-container--default .select2-results > .select2-results__options {
    max-height: 350px !important; }

.modal-body form.form-horizontal .row .form-group .control-label {
    padding-left: 0; }

.lobibox-notify-msg .label.label-success {
    padding-bottom: 3px;
    display: inline-block; }

.dropdowncuttom .title-dropdowncuttom span.label.label-default.label-left {
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    line-height: 1 !important;
    padding: 2px;
    display: inline-block;
    float: left;
    margin-right: 3px;
    background: transparent; }

.dropdowncuttom .title-dropdowncuttom span.label.label-default.label-left i {
    padding-right: 0; }

.modal-body form.form-horizontal .row .form-group .control-label.text-left {
    text-align: left;
    padding-top: 10px;
    padding-left: 15px; }

button.btn.btn-link {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0 !important;
    box-shadow: unset !important; }

textarea {
    width: 100%;
    background: #f5f5f5;
    border: solid 1px #ccc;
    border-radius: 4px; }

.form-group.border-bottom.collapsing > div,
.form-group.border-bottom.collapsed > div,
.form-group.border-bottom.collapse > div {
    border: solid 1px #eee;
    padding: 5px;
    margin-top: -1px;
    background: #f5f5f5; }
.form-group.border-bottom.collapsing > div:first-child,
.form-group.border-bottom.collapsed > div:first-child,
.form-group.border-bottom.collapse > div:first-child {
    margin-top: 0; }

button.btn.btn-link[aria-expanded="true"] {
    background: #f5f5f5; }

.form-group.giahan .input-group .form-control.pull-right.thoihan {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px; }

.form-group.mb-0 {
    border-bottom: solid 1px #f5f5f5; }

.form-group.mb-0.bordercollapsed {
    border-bottom: solid 1px #eee; }

input.form-control[name="message"] {
    border-radius: 4px !important; }

label.btn.btn-link.labelFile {
    max-width: 169px; }

.labelFile i.fa {
    padding-right: 6px; }

.card.center {
    margin: auto; }

.card.guoixulychinh {
    position: relative; }
.card.guoixulychinh a {
    color: #fff; }

.card.guoixulychinh .table.no-datatable h4 {
    padding-left: 15px; }

.card.guoixulychinh a[data-toggle="modal"] {
    font-size: 13px;
    padding: 3px;
    width: 20px;
    height: 20px;
    background: #0f6674;
    text-align: center;
    display: inline-block;
    border-radius: 11px; }

.card.guoixulychinh a[data-toggle="modal"]:hover {
    background: #1fc8e3; }

.modal-body .form-group .control-label span.label {
    font-size: 12px;
    font-weight: normal; }

label.control-label.font-size20 {
    margin-bottom: 5px; }

.box .box-header > .box-tools .tooltip.top {
    white-space: nowrap; }

.box-header > .fa, .box-header > .glyphicon,
.box-header > .ion, .box-header .box-title a {
    color: #fff;
    text-decoration: underline; }

.box.box-primary .box-header h3[data-toggle="tooltip"] {
    background: transparent !important; }

.dropdowncuttom .title-dropdowncuttom a {
    padding: 0px 5px 1px 4px;
    margin-bottom: -2px; }

a.h4.tieudecongviec-chat.text-center {
    display: block;
    position: relative; }

a.h4.tieudecongviec-chat.text-center:after {
    content: "";
    position: absolute;
    height: 0 !important;
    overflow: hidden;
    top: 50%;
    left: 0;
    right: 0;
    border-top: dotted 1px #ccc; }

a.h4.tieudecongviec-chat.text-center span {
    background: #fff;
    position: relative;
    z-index: 9;
    padding: 0 12px; }

a.h4.tieudecongviec-chat.text-center span:after,
a.h4.tieudecongviec-chat.text-center span:before {
    content: "\f192";
    font-family: FontAwesome;
    position: absolute;
    font-size: 8px;
    top: 8px;
    color: #ccc;
    font-weight: normal; }

a.h4.tieudecongviec-chat.text-center span:after {
    left: -1px; }

a.h4.tieudecongviec-chat.text-center span:before {
    right: -1px; }

.khung {
    position: relative;
    overflow: hidden;
    padding: 20px 120px 8px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 820px;
    min-height: 53px; }
.khung .input {
    min-width: 130px;
    position: relative;
    float: left;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 4px;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 19%; }
.khung .input input,
.khung .input select {
    position: relative;
    font-size: 16px;
    padding: 19px 10px 8px;
    border: none;
    width: 100%;
    border-radius: 4px; }
.khung .input select {
    padding-left: 5px; }
.khung .input .label {
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
    font-weight: normal;
    top: 7px;
    left: 10px;
    z-index: 999;
    color: #999; }
.khung .input.nho {
    min-width: 10% !important; }
.khung .submit {
    position: absolute;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    right: 20px;
    bottom: 20px;
    width: 100px;
    background-color: #17a2b8;
    padding: 14px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
.khung.fix-khung {
    padding-right: 0; }
.khung.fix-khung .submit {
    right: 15px;
    width: 19%;
    position: unset;
    float: left; }

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0; }
.form-horizontal .form-group input[type="file"] {
    display: none; }
.form-horizontal .form-group .labelFile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal; }
.form-horizontal .select2.select2-container {
    width: 100% !important; }

.bacham {
    width: 30px;
    margin: auto; }
.bacham .dropdown-menu {
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
    border-color: #ddd; }
.bacham .dropdown-menu.dropdown-menu-right {
    text-align: center;
    min-width: 0;
    right: 100%;
    top: -50%;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -5px; }
.bacham .dropdown-menu > li > a {
    padding: 0 5px 1px;
    border: solid 1px #eee;
    background: #f5f5f5;
    border-radius: 4px; }
.bacham .dropdown-menu > li > a:hover {
    color: #17a2b8;
    background: #fff;
    border-color: #ccc; }
.bacham .dropdown-menu > .divider {
    min-width: 100%;
    margin: 5px 0 0; }
.bacham .dropdown-menu li.inline {
    position: relative;
    display: inline-block; }
.bacham .dropdown-menu li.inline a {
    width: auto; }
.bacham .dropdown-menu li.inline:first-child:before {
    display: none; }
.bacham .dropdown-menu .block {
    display: block; }
.bacham .dropdown-menu > li > a > .fa,
.bacham .dropdown-menu > li > a > .glyphicon,
.bacham .dropdown-menu > li > a > .ion {
    margin-right: 5px; }
.bacham > a {
    color: #343a40;
    text-decoration: none; }
.bacham > a:hover {
    color: #17a2b8; }
.bacham > a > i {
    width: 100%; }

.chamcham {

    padding-bottom: 10px;
    }
.chamcham input {
    height: auto;
    padding: 0 8px;
    color: #343a40;
    display: table-cell;
    text-align: left; }
.chamcham label,
.chamcham span {
    margin-bottom: 2px;
    display: table-cell;
    text-align: left; }
.chamcham label {
    width: 110px;
    color: black; }

.checkselect [aria-selected="true"]:before {
    font-family: FontAwesome;
    content: "\f14a";
    margin-right: 8px;
    margin-left: 3px; }

.checkselect [aria-selected="false"]:before {
    font-family: FontAwesome;
    content: "\f096";
    margin-right: 8px;
    margin-left: 3px; }

th .check:before {
    color: #7adeee; }
th .check:hover:before {
    color: #fff; }

.check {
    cursor: pointer; }
.check input[type=checkbox] {
    display: none; }
.check:before {
    content: "\f096";
    font-family: FontAwesome;
    font-size: 14px; }
.check:hover:before {
    color: #17a2b8; }
.check.tick:before {
    content: "\f14a";
    font-size: 13px; }

.table .select2-container.select2-container--default {
    width: 100% !important; }
.table .select2-container.select2-container--default .select2-selection--single {
    background: transparent;
    height: auto;
    padding: 8px 12px 4px;
    border: solid 1px #4cd3e9;
    text-align: left; }
.table .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 24px;
    color: #fff; }
.table .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow b {
    color: #fff;
    border-color: #fff transparent transparent transparent; }
.table .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    height: auto;
    line-height: 1;
    padding: 0; }

.table td a.button-light {
    width: auto;
    display: inline-block;
    color: #6c757d;
    padding: 1px 6px;
    line-height: 1;
    border-radius: 3px;
    border-color: #ccc;
    background: #f5f5f5; }
.table td a.button-light i {
    margin-right: 3px; }

.table td a.button-light:hover {
    background: #fff;
    border-color: #ccc;
    color: #17a2b8; }

.bacham .dropdown-menu.dropdown-menu-right:before {
    content: "\f0da";
    right: -5px;
    top: 6px;
    position: absolute;
    font-family: FontAwesome;
    color: #fff;
    text-shadow: 1px 0 0 #c7c7c7; }

.ranges {
    position: absolute;
    right: 2px;
    bottom: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap; }
.ranges .btn-sm {
    padding: 1px 10px; }
.ranges .btn-sm.btn-success {
    background-color: #17a2b8;
    border-color: #0f6674; }
.ranges .btn-sm.btn-success:hover {
    background-color: #4cd3e9;
    border-color: #17a2b8; }

.daterangepicker td.in-range {
    background-color: #90e4f1; }

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #17a2b8; }

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: #17a2b8; }

.khunganh {
    border: solid 1px #ccc;
    width: auto;
    display: inline-block;
    padding: 10px;
    background: #fff; }

.anhdaidien {
    max-width: 100%;
    min-width: 260px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0; }
.anhdaidien:before {
    content: "Chưa có ảnh đại diện";
    padding-top: 50%;
    padding-bottom: 50%;
    width: 100%;
    display: block;
    background: #ccc;
    text-align: center; }
.anhdaidien img {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%); }

.avatar.avatar-24 {
    float: left;
    position: relative;
    margin-left: -5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 24px;
    height: 24px;
    box-shadow: 0px 0px 0px 1px #fff;
    cursor: pointer; }
.avatar.avatar-24:hover {
    box-shadow: 0px 0px 0px 1px #17a2b8;
    z-index: 99; }
.avatar.avatar-24 > .more,
.avatar.avatar-24 > .image {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
.avatar.avatar-24 img {
    width: 24px;
    height: 24px; }

.avatar.avatar-42 {
    float: left;
    position: relative;
    margin-left: -5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 42px;
    height: 42px;
    box-shadow: 0px 0px 0px 1px #17a2b8;
    cursor: pointer; }
.avatar.avatar-42:hover {
    box-shadow: 0px 0px 0px 1px #fff;
    z-index: 99; }
.avatar.avatar-42 > .more,
.avatar.avatar-42 > .image {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
.avatar.avatar-42 img {
    width: 42px;
    height: 42px; }

.khung-avatar {
    position: relative;
    overflow: visible !important; }
.khung-avatar .tooltip.top .tooltip-inner {
    text-align: left; }
.khung-avatar .tooltip.top .tooltip-arrow {
    margin-left: -1px; }
.khung-avatar .tooltip.top .tooltip-inner .xam {
    color: #004c58; }

.khung-avatar .tooltip.top {
    white-space: nowrap; }

.avatar-24-username {
    padding: 2px;
    font-weight: 600; }

.card .avatar-42-username h1 {
    text-align: left;
    padding-left: 6px;
    padding-top: 0px;
    font-weight: 600; }

.card .avatar-42-username h1 small {
    color: #fff;
    text-transform: none;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px; }

.card .avatar.avatar-42:hover:before {
    content: "\f021";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(23, 162, 184, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: normal; }

.card h4 {
    color: #fff;
    font-weight: 600;
    font-size: 16px; }

.card.guoixulychinh .article > span .xam {
    color: #90e4f1; }

.card.guoixulychinh {
    min-width: 100%; }
.card.guoixulychinh .table.no-datatable {
    border: solid 1px #17a2b8;
    background: #17a2b8; }
.card.guoixulychinh .table.no-datatable table {
    background: #fff; }
.card.guoixulychinh .table.no-datatable table td {
    border-right: solid 1px #ffffff; }

.table {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); }
.table table {
    min-width: 100%; }
.table thead tr {
    background-color: #6ebbc7; }
.table thead tr th {
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    padding: 9px 10px 8px;
    height: 25px;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap; }
.table td {
    padding: 3px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #f8f9fa;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    height: 28px; }

table.tree-table th .form-group {
    margin-bottom: 0; }

[data-column="name"] {
    cursor: pointer; }

.text-center th,
.text-center th div {
    text-align: center; }

.treegrid-indent {
    width: 0;
    height: 16px;
    display: inline-block;
    position: relative; }

.treegrid-expander {
    width: 0;
    height: 16px;
    display: inline-block;
    position: relative;
    left: -17px;
    cursor: pointer; }

td[colspan] div {
    display: inline; }
td[colspan] .dropdown.bacham {
    float: right;
    text-align: center; }
td[colspan] .dropdown.bacham .dropdown-menu.dropdown-menu-right {
    top: -50%; }

.table-2 .col-md-6:last-child {
    padding-left: 0; }

.bacham .dropdown-menu.dropdown-menu-right {
    padding: 1px 3px 2px;
    margin-top: 5px; }
.bacham .dropdown-menu.dropdown-menu-right > li > a {
    font-size: 0; }
.bacham .dropdown-menu.dropdown-menu-right > li > a i {
    font-size: 14px;
    padding: 2px;
    margin-right: 0 !important; }
.bacham .dropdown-menu.dropdown-menu-right:before {
    top: 3px !important; }

.table table.dataTable.no-footer,
.table table.dataTable thead td,
.table table.dataTable thead th {
    border-bottom: 1px solid #eee; }
.table table.dataTable tbody td,
.table table.dataTable tbody th,
.table table.dataTable thead td,
.table table.dataTable thead th {
    padding: 3px 10px;
    box-sizing: border-box; }
.table table.dataTable thead th {
    position: relative;
    background-image: none !important;
    font-weight: normal; }
.table table.dataTable thead th.sorting:after, .table table.dataTable thead th.sorting_asc:after, .table table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    font-family: FontAwesome;
    font-weight: normal; }
.table .dataTables_wrapper .dataTables_paginate {
    margin: 6px 8px 8px; }
.table .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 2px;
    background: #fff;
    border: solid 1px #ccc; }
.table .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.table .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    padding: 0 2px;
    background: #17a2b8;
    border: solid 1px #0f6674;
    color: #fff !important; }
.table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    padding: 0 2px;
    background: #148ea1;
    border: solid 1px #17a2b8;
    color: #fff !important; }
.table table.dataTable thead th.sorting:after {
    content: "\f07d";
    color: #4cd3e9; }
.table table.dataTable thead th.sorting_asc:after {
    content: "\f176";
    color: #fff; }
.table table.dataTable thead th.sorting_desc:after {
    content: "\f175";
    color: #fff; }

.table .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #17a2b8 !important; }
.table .dataTables_wrapper .dataTables_paginate .paginate_button.next:after, .table .dataTables_wrapper .dataTables_paginate .paginate_button.previous:after {
    top: 6px;
    right: 10px;
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    padding: 0 5px; }
.table .dataTables_wrapper .dataTables_paginate .paginate_button.previous:after {
    content: "\f104"; }
.table .dataTables_wrapper .dataTables_paginate .paginate_button.next:after {
    content: "\f105"; }
.table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .table .dataTables_wrapper .dataTables_paginate .paginate_button.next, .table .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    font-size: 0;
    background: transparent;
    border: none; }

.table.tree-dot {
    border: solid 1px #ccc; }
.table.tree-dot [data-parent="0"] {
    cursor: pointer; }
.table.tree-dot [data-parent="0"]:hover {
    color: #17a2b8; }
.table.tree-dot [data-parent="0"] [data-column="name"] {
    cursor: pointer; }
.table.tree-dot [data-column="name"] {
    cursor: auto; }
.table.tree-dot th .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 16px; }
.table.tree-dot th .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent; }
.table.tree-dot th .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff; }
.table.tree-dot th .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent;
    border-width: 0 4px 5px 4px; }
.table.tree-dot td {
    border: none; }
.table.tree-dot .treegrid-indent {
    position: relative; }
.table.tree-dot .treegrid-indent:before {
    content: "";
    border-bottom: dotted 1px #ccc;
    bottom: 3px;
    height: 1px !important;
    position: absolute;
    display: block;
    left: 5px;
    right: 5px; }
.table.tree-dot .treegrid-expander:before {
    background: #fff;
    z-index: 9;
    width: 17px;
    display: inline-block; }
.table.tree-dot [data-column="name"] {
    position: relative; }
.table.tree-dot [data-column="name"]:before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    width: 1px;
    border-left: dotted 1px #ccc;
    bottom: 16px;
    left: 15px; }
.table.tree-dot [data-parent="0"] [data-column="name"] {
    z-index: 9; }
.table.tree-dot [data-level="1"] > [data-column="name"]:before {
    top: 22px; }

.avantar {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -15px;
    padding-left: 0;
    overflow: hidden; }

.card {
    max-width: 300px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    background: #fff;
    text-decoration: none;
    color: #343a40;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; }
.card .tooltip {
    margin-left: -5px;
    left: 15px !important;
    margin-top: 2px; }
.card .tooltip .tooltip-arrow {
    border-top-color: #4cd3e9;
    left: 19px !important; }
.card .tooltip .tooltip-inner {
    background-color: #4cd3e9; }
.card .article {
    padding: 20px;
    text-align: left;
    background: #17a2b8; }
.card .article > span {
    color: #fff;
    letter-spacing: .05em;
    margin: 0.5rem 0 0 0;
    display: block;
    overflow: hidden; }
.card .article > span i {
    padding: 5px;
    margin-left: -5px; }
.card .article > span .xam {
    color: #7adeee;
    min-width: 25px;
    padding-right: 0;
    margin-right: 10px;
    float: left; }
.card h1 {
    font-size: 20px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 1px #4cd3e9;
    padding-bottom: 10px;
    text-align: center; }
.card p {
    flex: 1;
    line-height: 1.4; }
.card .thumb {
    padding-bottom: 90%;
    background-size: cover;
    background-position: center center; }

@media (min-width: 60em) {
    .item-1 {
        grid-column: 1 / span 2; }
    .item-1 h1 {
        font-size: 24px; } }

.modal.modal-full {
    padding-left: 0 !important; }
.modal.modal-full .modal-dialog {
    width: 98%; }
.modal.modal-full .modal-header {
    background: #17a2b8;
    color: #fff; }
.modal.modal-full .table {
    min-width: unset !important; }
.modal.modal-full .table thead tr th {
    white-space: nowrap; }
.modal.modal-full .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0; }
.modal.modal-full .form-horizontal .form-group input[type="file"] {
    display: none; }
.modal.modal-full .form-horizontal .form-group .labelFile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal; }
.modal.modal-full .form-horizontal .select2.select2-container {
    width: 100% !important; }

.modal-footer.text-center {
    text-align: center; }

.modal-body form.form-horizontal .row .form-group {
    margin-right: 0;
    margin-left: 0; }

.modal-body .table {
    min-width: unset; }

h4.title-sup-modal {
    min-height: 40px; }

.col-md-8 h4.title-sup-modal span {
    padding-top: 4px; }

h4.title-sup-modal span {
    display: inline-block;
    padding-top: 8px;
    font-weight: bold; }

.modal-body {
    padding-bottom: 0; }

table .btn.btn-app {
    min-width: unset;
    height: auto;
    padding: 2px 4px;
    line-height: 1;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin: 0;
    background-color: #ffffff; }
table .btn.btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa; }
table .btn-app > .fa, table .btn-app > .glyphicon, table .btn-app > .ion {
    display: inline-block;
    margin-right: 3px;
    font-size: 15px; }

.bacham .dropdown-menu > li > a {
    border-radius: 3px;
    position: relative;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fff;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin: 0; }
.bacham .dropdown-menu > li > a:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa; }

.chat-mobile {
    padding-left: 0; }

.box.box-primary .box-header {
    background: #17a2b8;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px; }
.box.box-primary .box-header > .box-tools {
    top: 1px; }
.box.box-primary .box-header [data-toggle="tooltip"] {
    background: #90e4f1;
    color: #fff; }
.box.box-primary .box-header [data-toggle="tooltip"]:hover {
    background: #90e4f1;
    color: #fff; }
.box.box-primary .box-header .btn-box-tool,
.box.box-primary .box-header .open .btn-box-tool,
.box.box-primary .box-header .btn-box-tool:hover {
    color: #fff; }

.bacham .dropdown-menu > li > a:focus,
.add-use:focus,
.submit:focus {
    box-shadow: 0px 0px 8px -1px #6cebff;
    background-color: #36d3e9 !important;
    color: #fff; }
.bacham .dropdown-menu > li > a:focus i,
.add-use:focus i,
.submit:focus i {
    color: #fff; }

.bacham > a:focus {
    color: #17a2b8; }

.dropdowncuttom:first-child {
    margin-top: 1px; }
.dropdowncuttom:last-child {
    padding-bottom: 1px; }
.dropdowncuttom.-collapsed {
    border-bottom-color: #1ab6cf; }
.dropdowncuttom.-collapsed:last-child {
    padding-bottom: 0; }
.dropdowncuttom .tooltip.top {
    left: 35px !important; }
.dropdowncuttom .table {
    margin-bottom: -1px;
    box-shadow: unset !important; }
.dropdowncuttom .table table.dataTable tbody tr td {
    border-color: #fff; }
.dropdowncuttom .table table.dataTable thead tr {
    background-color: #f5f5f5; }
.dropdowncuttom .table table.dataTable thead tr th {
    color: #343a40; }
.dropdowncuttom .table table.dataTable thead tr th.sorting:after {
    color: #dadada; }
.dropdowncuttom .table table.dataTable thead tr th.sorting_asc:after, .dropdowncuttom .table table.dataTable thead tr th.sorting_desc:after {
    color: #999; }
.dropdowncuttom .title-dropdowncuttom {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #17a2b8;
    margin: 0;
    padding: 4px 10px 8px;
    border-right: solid 1px #fff;
    border-top: solid 1px #17a2b8;
    border-bottom: solid 1px #1fc8e3;
    margin-top: -1px; }
.dropdowncuttom .title-dropdowncuttom span.label {
    border-radius: 12px;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px; }
.dropdowncuttom .title-dropdowncuttom span.label.label-default {
    background: #4cd3e9;
    color: #fff; }
.dropdowncuttom .title-dropdowncuttom a:hover {
    color: #90e4f1; }
.dropdowncuttom .title-dropdowncuttom a:hover .label {
    background: #fff;
    color: #17a2b8; }
.dropdowncuttom .title-dropdowncuttom a,
.dropdowncuttom .title-dropdowncuttom i {
    color: #fff; }
.dropdowncuttom .title-dropdowncuttom i {
    font-size: 13px;
    padding-right: 8px; }
.dropdowncuttom.-collapsed .title-dropdowncuttom > i:before {
    content: "\f078"; }

[data-toggle="modal"] {
    position: relative; }

.dropdowncuttom .title-dropdowncuttom a {
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 6px;
    border-radius: 12px; }
.dropdowncuttom .title-dropdowncuttom a:hover {
    background: #2ecae3;
    float: left;
    color: #fff; }
.dropdowncuttom .title-dropdowncuttom a:hover i {
    float: left;
    color: #fff; }
.dropdowncuttom .title-dropdowncuttom a span.label.label-default {
    display: inline-block;
    float: right;
    margin-top: 3px; }
.dropdowncuttom .title-dropdowncuttom a span.label.label-default.label-left {
    padding: 0;
    margin-top: 3px; }

.tooltip.top {
    margin-left: -5px;
    left: 15px;
    margin-top: 2px; }
.tooltip.top .tooltip-arrow {
    border-top-color: #4cd3e9;
    left: 19px; }
.tooltip.top .tooltip-inner {
    background-color: #4cd3e9; }

.table .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent; }

.form-control.select2 {
    display: none !important; }

.select2-dropdown {
    border-color: #17a2b8; }

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #90e4f1; }
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #fff; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #343a40;
    background-color: #17a2b8; }
.select2-container--default .select2-results__option--highlighted[aria-selected]:focus, .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background: #17a2b8;
    color: #fff; }
.select2-container--default .select2-search--dropdown {
    background: #17a2b8; }
.select2-container--default .select2-search--dropdown:before {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 8px;
    color: #17a2b8;
    pointer-events: none; }
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 3px;
    border-color: #17a2b8;
    padding-right: 22px; }
.select2-container--default.select2-container--disabled .select2-selection--single span.select2-selection__arrow {
    display: none; }

.daterangepicker .calendar .fa-calendar:before {
    font-family: sans-serif;
    font-weight: normal; }
.daterangepicker .calendar.left .input-mini {
    padding-left: 75px; }
.daterangepicker .calendar.left .fa-calendar:before {
    content: "Từ ngày: ";
    color: #fff; }
.daterangepicker .calendar.right .input-mini {
    padding-left: 85px; }
.daterangepicker .calendar.right .fa-calendar:before {
    content: "Đến ngày: ";
    color: #fff; }

body .daterangepicker .daterangepicker_input {
    padding: 4px 2px 0 4px !important;
    z-index: 9; }
body .daterangepicker .daterangepicker_input i {
    top: 12px;
    left: 12px; }
body .daterangepicker .calendar .input-mini {
    border-radius: 0 !important;
    border: none !important;
    margin: 0;
    background: #17a2b8;
    color: #fff; }
body .daterangepicker .left .daterangepicker_input {
    padding-left: 1px !important;
    padding-right: 3px !important; }
body .daterangepicker.dropdown-menu {
    border-radius: 0;
    padding: 0; }
body .daterangepicker .calendar th {
    background: #17a2b8;
    border-radius: 0;
    color: #fff;
    font-weight: normal; }
body .daterangepicker .calendar-table {
    padding-top: 0;
    margin-top: 0; }
body .daterangepicker .input-mini {
    padding: 0; }
body .daterangepicker .calendar.left .calendar-table {
    padding-right: 3px;
    padding-left: 0; }
body .daterangepicker .calendar.right .calendar-table {
    padding-right: 0; }

.form-group.giahan .input-group,
.form-group.giahan .input-group input {
    width: 100% !important;
    text-align: center; }
.form-group.giahan .input-group .btn {
    width: 100% !important;
    text-align: left; }
.form-group.giahan .input-group .btn i.fa.fa-caret-down {
    float: right;
    margin-top: 3px; }

.select2-container.containerselect2tree {
    -webkit-animation-name: opacity;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.4s;
    /* Safari 4.0 - 8.0 */
    animation-name: opacity;
    animation-duration: 0.4s;
    opacity: 1; }

.select2tree li.select2-results__option.optionlv1, .select2tree li.select2-results__option.optionlv2, .select2tree li.select2-results__option.optionlv3, .select2tree li.select2-results__option.optionlv4, .select2tree li.select2-results__option.optionlv5, .select2tree li.select2-results__option.optionlv6 {
    position: relative;
    white-space: nowrap; }
.select2tree li.select2-results__option.optionlv1:after, .select2tree li.select2-results__option.optionlv1:before, .select2tree li.select2-results__option.optionlv2:after, .select2tree li.select2-results__option.optionlv2:before, .select2tree li.select2-results__option.optionlv3:after, .select2tree li.select2-results__option.optionlv3:before, .select2tree li.select2-results__option.optionlv4:after, .select2tree li.select2-results__option.optionlv4:before, .select2tree li.select2-results__option.optionlv5:after, .select2tree li.select2-results__option.optionlv5:before, .select2tree li.select2-results__option.optionlv6:after, .select2tree li.select2-results__option.optionlv6:before {
    font-family: FontAwesome;
    position: absolute;
    display: block;
    color: #4cd3e9; }
.select2tree li.select2-results__option.optionlv1:before, .select2tree li.select2-results__option.optionlv2:before, .select2tree li.select2-results__option.optionlv3:before, .select2tree li.select2-results__option.optionlv4:before, .select2tree li.select2-results__option.optionlv5:before, .select2tree li.select2-results__option.optionlv6:before {
    top: -50%;
    bottom: 50%;
    content: "";
    width: 1px;
    border-left: dotted 1px #4cd3e9; }
.select2tree li.select2-results__option.optionlv1:after, .select2tree li.select2-results__option.optionlv2:after, .select2tree li.select2-results__option.optionlv3:after, .select2tree li.select2-results__option.optionlv4:after, .select2tree li.select2-results__option.optionlv5:after, .select2tree li.select2-results__option.optionlv6:after {
    content: "\f111";
    top: 50%;
    bottom: 0;
    line-height: 0;
    text-align: right;
    text-indent: 9px;
    font-size: 6px;
    width: 7px;
    height: 0;
    border-bottom: dotted 1px #4cd3e9; }
.select2tree li.select2-results__option.optionlv6 {
    padding-left: 70px; }
.select2tree li.select2-results__option.optionlv6:after, .select2tree li.select2-results__option.optionlv6:before {
    left: 50px; }
.select2tree li.select2-results__option.optionlv5 {
    padding-left: 60px; }
.select2tree li.select2-results__option.optionlv5:after, .select2tree li.select2-results__option.optionlv5:before {
    left: 40px; }
.select2tree li.select2-results__option.optionlv4 {
    padding-left: 50px; }
.select2tree li.select2-results__option.optionlv4:after, .select2tree li.select2-results__option.optionlv4:before {
    left: 30px; }
.select2tree li.select2-results__option.optionlv3 {
    padding-left: 40px; }
.select2tree li.select2-results__option.optionlv3:after, .select2tree li.select2-results__option.optionlv3:before {
    left: 20px; }
.select2tree li.select2-results__option.optionlv2 {
    padding-left: 30px; }
.select2tree li.select2-results__option.optionlv2:after, .select2tree li.select2-results__option.optionlv2:before {
    left: 10px; }
.select2tree li.select2-results__option.optionlv1 {
    padding-left: 20px; }
.select2tree li.select2-results__option.optionlv1:before {
    left: 7px;
    top: 11px !important;
    content: "\f192";
    font-size: 8px;
    border: none !important; }
.select2tree li.select2-results__option.optionlv1:after {
    display: none !important; }

li.select2-results__option.optionlv1 + li.select2-results__option.optionlv2:before {
    top: -30% !important; }

@-webkit-keyframes opacity {
    from {
        opacity: 0; }
    to {
        opacity: 1; } }
/* Standard syntax */
@keyframes opacity {
    from {
        opacity: 0; }
    to {
        opacity: 1; } }
.primary-color {
    color: #17a2b8; }

.danger-color {
    color: rgba(220, 53, 69, 0.8); }

.success-color {
    color: rgba(40, 167, 69, 0.8); }

.warning-color {
    color: rgba(255, 193, 7, 0.8); }

.complete.warning {
    background-color: rgba(255, 193, 7, 0.8); }
.complete.danger {
    background-color: rgba(220, 53, 69, 0.8); }
.complete.success {
    background-color: rgba(40, 167, 69, 0.8); }

input.form-control.thoihan {
    color: #fff;
    padding: 2px;
    border-radius: 4px !important; }
input.form-control.thoihan.danger {
    background-color: rgba(220, 53, 69, 0.8);
    border: solid 1px #dc3545; }
input.form-control.thoihan.success {
    background-color: rgba(40, 167, 69, 0.8);
    border: solid 1px #28a745; }
input.form-control.thoihan.warning {
    background-color: rgba(255, 193, 7, 0.8);
    border: solid 1px #ffc107; }

.alert.alert-success {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background: rgba(40, 167, 69, 0.8) !important;
    border: none; }

.red {
    color: #dc3545; }

.lobibox-notify.lobibox-notify-warning {
    background-color: rgba(255, 193, 7, 0.8) !important;
    border-color: #ffc107 !important;
    color: #002a31 !important; }

.lobibox-notify.lobibox-notify-success {
    background-color: rgba(40, 167, 69, 0.8) !important;
    border-color: #28a745 !important; }

@media all and (max-width: 768px) {
    .doivitri-mobile {
        display: -webkit-flex;
        /* Safari */
        display: flex;
        flex-wrap: wrap;
        width: 100%; }

    /* Safari 6.1+ */
    .vitri-1 {
        -webkit-order: 1; }

    /* Standard syntax */
    .vitri-1 {
        order: 1; }

    /* Safari 6.1+ */
    .vitri-2 {
        -webkit-order: 2; }

    /* Standard syntax */
    .vitri-2 {
        order: 2; }

    /* Safari 6.1+ */
    .vitri-3 {
        -webkit-order: 3; }

    /* Standard syntax */
    .vitri-3 {
        order: 3; }

    /* Safari 6.1+ */
    .vitri-4 {
        -webkit-order: 4; }

    /* Standard syntax */
    .vitri-4 {
        order: 4; }

    /* Safari 6.1+ */
    .vitri-5 {
        -webkit-order: 5; }

    /* Standard syntax */
    .vitri-5 {
        order: 5; }

    /* Safari 6.1+ */
    .vitri-6 {
        -webkit-order: 6; }

    /* Standard syntax */
    .vitri-6 {
        order: 6; }

    .chat-mobile {
        position: fixed;
        bottom: -20px;
        top: auto;
        padding: 0;
        margin: 0;
        right: 0;
        left: 0;
        z-index: 999; }
    .chat-mobile .box.box-primary .box-header {
        background: #333; }
    .chat-mobile .box.box-primary .box-header [data-toggle="tooltip"] {
        background: #999; }
    .chat-mobile .box.box-primary .box-header [data-toggle="tooltip"]:hover {
        background: #eee;
        color: #333; }

    .modal-dialog,
    .modal.modal-full .modal-dialog {
        width: auto; }

    .modal-open .modal {
        padding-left: 0 !important; }

    .khung {
        min-width: auto;
        padding-right: 0; }
    .khung .input {
        width: 49% !important; }
    .khung .submit {
        position: unset;
        float: left;
        width: 49%;
        min-height: 53px; }

    .table {
        overflow: hidden;
        min-width: 100%;
        position: relative; }
    .table table {
        min-width: 500px; }
    .table table.tree-table {
        min-width: 100%; }

    .bacham .dropdown-menu.dropdown-menu-right {
        position: fixed;
        top: 30%;
        right: 30px;
        left: 30px; }
    .bacham .dropdown-menu.dropdown-menu-right:before {
        display: none; }
    .bacham .dropdown-menu.dropdown-menu-right li {
        display: block;
        width: 100%; }
    .bacham .dropdown-menu.dropdown-menu-right li a {
        margin: 5px;
        display: block;
        padding: 8px; }
    .bacham.open:after {
        content: "";
        background: rgba(0, 0, 0, 0.3);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 0; }

    .card {
        max-width: unset; }

    .title .add-use,
    .title-sup-modal .btn {
        margin-top: 15px;
        margin-bottom: 10px; }

    .table1 {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 37px;
        z-index: 999;
        background: #17a2b8; }

    .table2 {
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
        max-width: 100%;
        margin-bottom: -17px; }
    .table2 thead tr {
        background-color: #17a2b8; }
    .table2 thead tr th {
        white-space: nowrap;
        text-align: center;
        font-weight: 500;
        overflow: hidden;
        padding: 9px 10px 8px;
        height: 25px;
        color: rgba(255, 255, 255, 0.8);
        vertical-align: middle;
        text-transform: uppercase; }

    .modal .avantar {
        box-shadow: unset; }
    .modal .row.gach-top {
        background: #fff; }
    .modal .form-horizontal > .bg-xam {
        padding: 0; }
    .modal .card .article {
        padding-left: 30px;
        padding-right: 30px; }

    .inline-block .form-group.chamcham label {
        width: 100%;
        display: inline-block;
        font-weight: bold; }

    .inline-block .form-group.chamcham {
        display: block !important; }

    .khung .input .select2-container--default {
        padding: 20px 10px 8px; }

    form.form-horizontal div .row .col-md-6 {
        margin-bottom: 15px; }

    .card.guoixulychinh .article {
        padding: 10px; }
    .card.guoixulychinh .table.no-datatable table {
        min-width: 100%; }

    section.sectionchat {
        padding-bottom: 40px; } }
@keyframes example {
    from {
        top: 10%; }
    to {
        top: 30%; } }
#select2Modal .select2-container--default.select2-container--open {
    position: unset !important;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden; }
#select2Modal .select2-container--default.select2-container--open .select2-dropdown--below {
    position: relative;
    display: block;
    width: auto !important; }
#select2Modal .modal-title {
    font-weight: 600;
    color: #fff; }
#select2Modal .modal-header {
    background: #17a2b8;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 5px; }
#select2Modal .modal-content {
    border-radius: 7px;
    overflow: hidden;
    min-height: 260px;
    margin-top: 100px; }
#select2Modal .select2-container--default.select2-container--open,
#select2Modal .select2-container--open .select2-dropdown--below {
    box-shadow: unset;
    border: none; }

#select2show {
    padding: 0; }

.bar {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#02000000, endColorstr=#02000000)";
    height: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: visible !important; }
.bar .complete {
    top: 0;
    left: 0;
    height: 8px;
    position: absolute; }
.bar .stats {
    position: absolute;
    color: #aaa;
    top: -20px;
    left: 0;
    right: 0;
    text-align: left;
    overflow: visible; }
.bar .stats .right {
    position: absolute;
    right: 0;
    top: 26px;
    width: 100%; }
.bar b {
    color: #111; }

/*# sourceMappingURL=main.css.map */
