<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminLTE 2 | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/skin-blue.min.css}">

    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminlte.min.js}"></script>
    <script type="text/javascript" th:src="@{js/demo.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fastclick.js}"></script>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <th:block th:if="${sinhVien != null}">
        <div  th:replace="fragments/sidebarsv :: aside">&nbsp;</div>

    </th:block>
    <th:block  th:if="${giaoVien != null}">
        <div  th:replace="fragments/sidebar :: aside">&nbsp;</div>
    </th:block>
    <div class="content-wrapper">
        <div class="col-md-12" style="margin-top: 20px">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách tin tức</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">

                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr th:each="tt, i : ${lstTinTuc}">
                                <td th:text="${i.index+1}"></td>
                                <td class="mailbox-subject"><a th:href="@{/tintuc/find/}+${tt.id}"> <b th:text="${tt.title}">AdminLTE 2.0 Issue</b></a>
                                </td>
                                <td class="mailbox-date" th:text="${#dates.format(tt.time,'dd/MM/yyyy')}">5 mins ago</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /. box -->
    </div>

</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

</div>
</body>
</html>



