<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smarttask Education</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/skin-blue.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixtintuc.css}">

    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminlte.min.js}"></script>
    <script type="text/javascript" th:src="@{js/demo.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fastclick.js}"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500" rel="stylesheet">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <th:block th:if="${sinhVien != null}">
        <div  th:replace="fragments/sidebarsv :: aside">&nbsp;</div>

    </th:block>
    <th:block  th:if="${giaoVien != null}">
        <div  th:replace="fragments/sidebar :: aside">&nbsp;</div>
    </th:block>
    <div class="content-wrapper">
        <div class="tieude"  th:utext="${tinTuc.title}">
        </div>
        <div class="ngaydang" th:utext="'Ngày đăng: '+${#dates.format(tinTuc.time, 'dd/MM/yyyy')}">
        </div>
        <div class="content" style="text-align: left;" th:utext="${tinTuc.content}">

        </div>
        <!-- /. box -->
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>


</div>
</body>
</html>



