<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smarttask Education</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/_all-skins.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.min.css}">

    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminlte.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fastclick.js}"></script>
    <script type="text/javascript" th:src="@{/js/demo.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.dataTables.min.js}"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div th:replace="fragments/sidebar :: aside">&nbsp;</div>

    <div class="content-wrapper">
        <!--code vào đây :D-->
        <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Thông tin lớp
                    <small class="pull-right" th:text="${lopHoc != null ? lopHoc.ngayTao : ''}">Ngày mở lớp: 2/10/2014</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                    <div class="form-group chamcham">
                        <label for="">Tên môn học: </label>
                        <span th:text="${lopHoc != null ? lopHoc.monHoc.tenMonHoc : ''}"
                              > Hệ quản trị cơ sở dữ liệu</span>
                    </div>
                    <div class="form-group chamcham">
                        <label for="">Số lượng tín chỉ:  </label>
                        <span th:text="${lopHoc != null ? lopHoc.monHoc.tinChi : ''}"
                             > 3</span>
                    </div>
                    <div class="form-group chamcham">
                        <label for="">Học kì: </label>
                        <span th:text="${lopHoc != null ? lopHoc.monHoc.kiHoc.kiHoc : ''}"
                                > 1</span>
                    </div>

                    <div class="form-group chamcham">
                        <label for="">Mã lớp: </label>
                        <span th:text="${lopHoc != null ? lopHoc.maLop : ''}"
                                > Lớp C1608G1</span>
                    </div>
                    <div class="form-group chamcham">
                        <label for="">Tên giảng viên: </label>
                        <span >Trần giảng viên</span>
                    </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <div class="form-group chamcham">
                    <label for="">Phòng học: </label>
                    <span th:text="${lopHoc != null ? lopHoc.phongHoc.tenPhong : ''}"
                    > 206</span>
                </div>
                <div class="form-group chamcham">
                    <label for="">Ngày bắt đầu: </label>
                    <span th:text="${lopHoc != null ? lopHoc.ngayBatDau : ''}"
                    > 20/10/2018</span>
                </div>
                <div class="form-group chamcham">
                    <label for=""> Ngày kết thúc: </label>
                    <span th:text="${lopHoc != null ? lopHoc.ngayKetThuc : ''}"
                    >20/2/2019</span>
                </div>

                <div class="form-group chamcham">
                    <label for="">Ghi chú: </label>
                    <span th:text="${lopHoc != null ? lopHoc.moTa : ''}" > FPT</span>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4">
                <div class="form-group chamcham">
                    <label for="">Ca học: </label>
                </div>
                <div class="table tree-dot">
                    <table id="lichHoc" class="tree-table">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4 invoice-col">
                <div class="col-md-5 inline-block p-25">
                    <div class="form-group">
                        <button id="btn-edit" class="btn btn-success" >
                            <a style="color: #fefefe" th:href="@{/tuonglop/}+${lopHoc.maLop}"/>Diễn đàn lớp
                        </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        </section>

        <section class="content-header">
            <h1>
                Danh sách sinh viên
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã SV</th>
                                    <th>Tên sinh viên</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:if="${sinhvien != null}">
                                <tr th:each=" sinhvien : ${lopHoc.sinhViens}">
                                    <td  class="text-right">
                                        1
                                    </td>
                                    <td th:text="${sinhvien.maSinhVien}">SV-00</td>
                                    <td th:text="${sinhvien.user.userName}">Nguyễn Văn A</td>
                                    <td th:text="${sinhvien.user.userEmail}">nguyenvana@gmail.com</td>
                                </tr>
                                </th:block>
                                <tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <section class="content-header">
            <h1>
                Danh sách các nhóm trong lớp
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example3" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Nhóm</th>
                                    <th>Tên nhóm</th>
                                    <th>Nhóm trưởng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>SV-00</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>nguyenvana@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>SV-00</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>nguyenvana@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>SV-00</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>nguyenvana@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>SV-00</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>nguyenvana@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>SV-00</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>nguyenvana@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>SV-00</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>nguyenvana@gmail.com</td>
                                </tr>
                                <tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
    <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
</div>

</body>
<script type="text/javascript" th:inline="javascript" >
    $(function () {
        $('#example2').DataTable()
        $('#example3').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })

        var ngayHoc = [[${ngayHoc}]];
        var caHoc = [[${caHoc}]];
        for (i = 0; i < ngayHoc.length; i++) {
            $('#lichHoc tr:last')
                .after("<tr><td style='width: 70px'>Thứ " + ngayHoc[i] + ":</td>" +
                    "<td>Ca " + caHoc[i] + "</td>" +
                    "</tr>");
        }
    });



</script>
</html>