.avantar {
  background: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -15px;
  padding-left: 0;
  overflow: hidden;
}

.card {
  max-width: 300px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  background: $white;
  text-decoration: none;
  color: $dark;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow:  hidden;
  .tooltip {
      margin-left: -5px;
      left: 15px !important;
      margin-top:  2px;
      .tooltip-arrow {
          // border-right-color: $primary-color30;
          border-top-color: $primary-color20;
          left:  19px !important;
      }
      .tooltip-inner {
          background-color: $primary-color20;
      }
  }
  .article {
    padding: 20px;
    text-align: left;
    background: $primary-color;
    > span {
      color:  $white;
      letter-spacing: .05em;
      margin: 0.5rem 0 0 0;
      display: block;
      overflow: hidden;
      i {
          padding:  5px;
          margin-left:  -5px;
      }
      .xam{
        color: $primary-color30;
        min-width: 25px;
        padding-right: 0;
        margin-right: 10px;
        float: left;
        + div + span,
        +span {
            // float: right;
        }
      }
    }
  }

  h1 {
    font-size: 20px;
    margin: 0;
    color:  $white;
    text-transform: uppercase;
    border-bottom: solid 1px $primary-color20;
    padding-bottom: 10px;
    text-align: center;
  }

  p {
    flex: 1;
    line-height: 1.4;
  }


  .thumb {
    padding-bottom: 90%;
    background-size: cover;
    background-position: center center;
    // border-top-left-radius: 6px;
    // border-top-right-radius: 6px;
  }
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;

    h1 {
      font-size: 24px;
    }
  }
}
