.tooltip.top {
  margin-left: -5px;
  left: 15px;
  margin-top: 2px;

  .tooltip-arrow {
    border-top-color: $primary-color20;
    left: 19px;
  }

  .tooltip-inner {
    background-color: $primary-color20;
  }
}
