.bacham .dropdown-menu > li > a:focus,
.add-use:focus,
.submit:focus {
    box-shadow: 0px 0px 8px -1px #6cebff;
    background-color: #36d3e9 !important;
    color: #fff;
    i{
      color: #fff;
    }
}
.bacham > a:focus {
    color: #17a2b8;
}
// .bacham .dropdown-menu > li > a:focus{
//   color: #fff;
// }
