.dropdowncuttom {
  // border: solid 1px $primary-color;

  &:first-child {
    margin-top: 1px;
  }

  &:last-child {
    padding-bottom: 1px;
  }

  &.-collapsed {
    border-bottom-color: $primary-color5;

    &:last-child {
      padding-bottom: 0;
    }
  }
  .tooltip.top {
      left: 35px !important;
  }
  .table {
    margin-bottom: -1px;
    box-shadow: unset !important;
    // table.dataTable {min-width: calc(100% + 1px);}
    table.dataTable tbody tr {
      td {
        border-color: $white;
      }
    }

    table.dataTable thead {
      tr {
        // background-color: $f5;

        th {
          // color: $dark;

          &.sorting {
            &:after {
              color: #dadada;
            }
          }

          &.sorting_asc,
          &.sorting_desc {
            &:after {
              color: #999;
            }
          }
        }
      }
    }
  }

  .title-dropdowncuttom {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: $primary-color;
    margin: 0;
    padding: 4px 10px 8px;
    border-top: solid 1px $primary-color;
    border-bottom: solid 1px $primary-color10;
    // margin-top: -1px;

    span.label {
      border-radius: 12px;
      font-size: 12px;
      font-weight: normal;
      margin-left: 5px;
      display: inline-block;
      padding-top: 1px;
      padding-bottom: 1px;

      &.label-default {
        background: $primary-color20;
        color: $white;
      }
    }
    a:hover {
      color: $primary-color40;
      .label {
        background: $white;
        color: $primary-color;
        // i {
        //     color: $primary-color;
        // }
      }
    }
    a,
    i {
      color: $white;
    }

    i {
      font-size: 13px;
      padding-right: 8px;
    }
  }

  &.-collapsed {
    .title-dropdowncuttom {
      >i {
        &:before {
          content: "\f078";
        }
      }
    }
  }
}
[data-toggle="modal"]{
  position: relative;
}
.dropdowncuttom .title-dropdowncuttom{
  a {
     overflow: hidden;
     padding-bottom: 2px;
     padding-left:  1px;
     padding-right:  6px;
     border-radius:  12px;
     &:hover{
       background: #2ecae3;
       float:  left;
       color: #fff;
       i {
           float:  left;
           color: #fff;
       }
     }
     span.label.label-default {
         display:  inline-block;
         float: right;
         margin-top:  3px;
         &.label-left {
             padding:  0;
             margin-top: 3px;
         }
     }
 }
}
