@media all and (max-width: 768px) {
  .doivitri-mobile {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  /* Safari 6.1+ */
  .vitri-1 {
    -webkit-order: 1;
  }
  /* Standard syntax */
  .vitri-1 {
    order: 1;
  }
  /* Safari 6.1+ */
  .vitri-2 {
    -webkit-order: 2;
  }
  /* Standard syntax */
  .vitri-2 {
    order: 2;
  }
  /* Safari 6.1+ */
  .vitri-3 {
    -webkit-order: 3;
  }
  /* Standard syntax */
  .vitri-3 {
    order: 3;
  }
  /* Safari 6.1+ */
  .vitri-4 {
    -webkit-order: 4;
  }
  /* Standard syntax */
  .vitri-4 {
    order: 4;
  }
  /* Safari 6.1+ */
  .vitri-5 {
    -webkit-order: 5;
  }
  /* Standard syntax */
  .vitri-5 {
    order: 5;
  }
  /* Safari 6.1+ */
  .vitri-6 {
    -webkit-order: 6;
  }
  /* Standard syntax */
  .vitri-6 {
    order: 6;
  }

  .chat-mobile {
    position: fixed;
    bottom: -19px;
    top: auto;
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;
  }

  .modal-dialog,
  .modal.modal-full .modal-dialog {
    width: auto;
  }

  .modal-open .modal {
    padding-left: 0 !important;
  }

  .khung {
    min-width: auto;
    padding-right: 0;

    .input {
      width: 49% !important;
    }

    .submit {
      position: unset;
      float: left;
      width: 49%;
      min-height: 53px;
    }
  }

  .table {
    overflow: hidden;
    min-width: 100%;
    position: relative;

    table {
      min-width: 500px;

      &.tree-table {
        min-width: 100%;
      }
    }
  }

  .bacham {
    .dropdown-menu.dropdown-menu-right {
      position: fixed;
      top: 30%;
      right: 30px;
      left: 30px;

      &:before {
        display: none;
      }

      li {
        display: block;
        width: 100%;

        a {
          margin: 5px;
          display: block;
          padding: 8px;
        }
      }
    }

    &.open:after {
      content: "";
      background: rgba(0, 0, 0, 0.3);
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      z-index: 0;
    }
  }

  .card {
    max-width: unset;
  }

  .title .add-use,
  .title-sup-modal .btn {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .table1 {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 37px;
    z-index: 999;
    background: $primary-color;
  }

  .table2 {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    max-width: 100%;
    margin-bottom: -17px;

    thead tr {
      background-color: $primary-color;

      th {
        white-space: nowrap;
        text-align: center;
        font-weight: 500;
        overflow: hidden;
        padding: 9px 10px 8px;
        height: 25px;
        color: rgba(255, 255, 255, 0.8);
        vertical-align: middle;
        text-transform: uppercase;
      }
    }
  }

  .modal {
    .avantar {
      box-shadow: unset;
    }

    .row.gach-top {
      background: #fff;
    }

    .form-horizontal > .bg-xam {
      padding: 0;
    }

    .card .article {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .inline-block .form-group.chamcham label {
    width: 100%;
    display: inline-block;
    font-weight: bold;
  }

  .inline-block .form-group.chamcham {
    display: block !important;
  }

  .khung .input .select2-container--default {
    padding: 20px 10px 8px;
  }
  form.form-horizontal div .row .col-md-6 {
    margin-bottom:  15px;
}
.card.guoixulychinh {
    .article {
      padding:  10px;
  }
  .table.no-datatable table {
    min-width:  100%;
}
}
}
@keyframes example {
  from {
    top: 10%;
  }

  to {
    top: 30%;
  }
}

#select2Modal {
  .select2-container--default.select2-container--open {
    position: unset !important;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

    .select2-dropdown--below {
      position: relative;
      display: block;
      width: auto !important;
    }
  }

  .modal-title {
    font-weight: 600;
    color: #fff;
  }

  .modal-header {
    background: $primary-color;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 5px;
  }

  .modal-content {
    border-radius: 7px;
    overflow: hidden;
    min-height: 260px;
    margin-top: 100px;
  }

  .select2-container--default.select2-container--open,
  .select2-container--open .select2-dropdown--below {
    box-shadow: unset;
    border: none;
  }
}

#select2show {
  padding: 0;
}
