.table {
  background: $white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);

  table {
    min-width: 100%;
  }

  thead {
    tr {
      background-color: $primary-color;

      th {
        text-align: center;
        font-weight: 500;
        overflow: hidden;
        padding: 9px 10px 8px;
        height: 25px;
        color: $white;
        vertical-align: middle;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  td {
    padding: 3px 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid $light;
    border-right: 1px solid rgba(0,0,0,0.05);
    height: 28px;
  }
}

table.tree-table th .form-group {
  margin-bottom: 0;
}

[data-column="name"] {
  cursor: pointer;
}

.text-center th,
.text-center th div {
  text-align: center;
}

.treegrid-indent {
  width: 0;
  height: 16px;
  display: inline-block;
  position: relative;
}

.treegrid-expander {
  width: 0;
  height: 16px;
  display: inline-block;
  position: relative;
  left: -17px;
  cursor: pointer;
}

td[colspan] {
  div {
    display: inline;
  }

  .dropdown.bacham {
    float: right;
    text-align: center;

    .dropdown-menu.dropdown-menu-right {
      top: -50%;
    }
  }
}

.table-2 .col-md-6:last-child {
  padding-left: 0;
}
// fix ẩn text

.bacham {
  .dropdown-menu.dropdown-menu-right {
    padding: 1px 3px 2px;
    margin-top: 5px;

    > li > a {
      font-size: 0;

      i {
        font-size: 14px;
        padding: 2px;
        margin-right: 0 !important;
      }
    }

    &:before {
      top: 3px !important;
    }
  }
}
// dataTable reset

.table {
  table.dataTable {
    &.no-footer,
    thead td,
    thead th {
      border-bottom: 1px solid #eee;
    }

    tbody td,
    tbody th,
    thead td,
    thead th {
      padding: 3px 10px;
      box-sizing: border-box;
    }

    thead {
      th {
        position: relative;
        background-image: none !important;
        font-weight: normal;

        &.sorting:after,
        &.sorting_asc:after,
        &.sorting_desc:after {
          position: absolute;
          top: 4px;
          right: 3px;
          display: block;
          font-family: FontAwesome;
          font-weight: normal;
        }
      }
    }
  }

  .dataTables_wrapper {
    .dataTables_paginate {
      margin: 6px 8px 8px;

      .paginate_button {
        padding: 0 2px;
        background: #fff;
        border: solid 1px #ccc;
      }

      .paginate_button.current,
      .paginate_button:active {
        padding: 0 2px;
        background: $primary-color;
        border: solid 1px $primary-color-border;
        color: $white !important;
      }

      .paginate_button.current:hover {
        padding: 0 2px;
        background: $primary-color-hover;
        border: solid 1px $primary-color;
        color: $white !important;
      }
    }
  }

  table.dataTable thead th {
    &.sorting:after {
      content: "\f07d";
      color: $primary-color20;
    }

    &.sorting_asc:after {
      content: "\f176";
      color: $white;
    }

    &.sorting_desc:after {
      content: "\f175";
      color: $white;
    }
  }
}

.table .dataTables_wrapper .dataTables_paginate {
  .paginate_button {
    &:hover {
      color: $primary-color !important;
    }

    &.next,
    &.previous {
      &:after {
        top: 6px;
        right: 10px;
        display: block;
        font-family: FontAwesome;
        font-size: 16px;
        padding: 0 5px;
      }
    }

    &.previous:after {
      content: "\f104";
    }

    &.next:after {
      content: "\f105";
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover,
    &.next,
    &.previous {
      font-size: 0;
      background: transparent;
      border: none;
    }
  }
}
// .tree-dot...................

.table.tree-dot {
  border: solid 1px $c;

  [data-parent="0"] {
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }

    [data-column="name"] {
      cursor: pointer;
    }
  }

  [data-column="name"] {
    cursor: auto;
  }

  th {
    .select2-container--default {
      .select2-selection--single {
        .select2-selection__arrow {
          height: 16px;

          b {
            border-color: $white transparent transparent transparent;
          }
        }

        .select2-selection__rendered {
          color: $white;
        }
      }
      &.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent $white transparent;
        border-width: 0 4px 5px 4px;
      }
    }    
  }

  td {
    border: none;
  }

  .treegrid-indent {
    position: relative;

    &:before {
      content: "";
      border-bottom: dotted 1px $c;
      bottom: 3px;
      height: 1px !important;
      position: absolute;
      display: block;
      left: 5px;
      right: 5px;
    }
  }

  .treegrid-expander {
    &:before {
      background: $white;
      z-index: 9;
      width: 17px;
      display: inline-block;
    }
  }

  [data-column="name"] {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -16px;
      width: 1px;
      border-left: dotted 1px $c;
      bottom: 16px;
      left: 15px;
    }
  }

  [data-parent="0"] [data-column="name"] {
    z-index: 9;
  }

  [data-level="1"] {
    > [data-column="name"] {
      &:before {
        top: 22px;
      }
    }
  }
}
