.select2-container.containerselect2tree{
  -webkit-animation-name: opacity;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.4s;
  /* Safari 4.0 - 8.0 */
  animation-name: opacity;
  animation-duration: 0.4s;
  opacity: 1;
}
.select2tree li.select2-results__option {
  // opacity: 0;
  &.optionlv1,
  &.optionlv2,
  &.optionlv3,
  &.optionlv4,
  &.optionlv5,
  &.optionlv6 {
    position: relative;
    white-space: nowrap;
    // -webkit-animation-name: opacity;
    // /* Safari 4.0 - 8.0 */
    // -webkit-animation-duration: 0.2s;
    // /* Safari 4.0 - 8.0 */
    // animation-name: opacity;
    // animation-duration: 0.2s;
    // opacity: 1;

    &:after,
    &:before {
      font-family: FontAwesome;
      position: absolute;
      display: block;
      color: $primary-color20;
    }

    &:before {
      top: -50%;
      bottom: 50%;
      content: "";
      width: 1px;
      border-left: dotted 1px $primary-color20;
    }

    &:after {
      content: "\f111";
      top: 50%;
      bottom: 0;
      line-height: 0;
      text-align: right;
      text-indent: 9px;
      font-size: 6px;
      width: 7px;
      height: 0;
      border-bottom: dotted 1px $primary-color20;
    }
  }

  &.optionlv6 {
    padding-left: 70px;

    &:after,
    &:before {
      left: 50px;
    }
  }

  &.optionlv5 {
    padding-left: 60px;

    &:after,
    &:before {
      left: 40px;
    }
  }

  &.optionlv4 {
    padding-left: 50px;

    &:after,
    &:before {
      left: 30px;
    }
  }

  &.optionlv3 {
    padding-left: 40px;

    &:after,
    &:before {
      left: 20px;
    }
  }

  &.optionlv2 {
    padding-left: 30px;

    &:after,
    &:before {
      left: 10px;
    }
  }

  &.optionlv1 {
    padding-left: 20px;

    &:before {
      left: 7px;
      top: 11px !important;
      content: "\f192";
      font-size: 8px;
      border: none !important;
    }

    &:after {
      display: none !important;
    }
  }
}

li.select2-results__option.optionlv1 + li.select2-results__option.optionlv2:before {
  top: -30% !important;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* Standard syntax */
@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
