 .box-body{
 	padding: 0 2%;
 }
#tree-table{
	width: 100%;
	float: left;
}
#tree-table tr{
	border-bottom: 1px solid #d3d3d3;
}
.box.box-default{
	margin-bottom: 0;
	padding-bottom: 30px;	
}
.treegrid-indent{
	min-height: 20px;
	float: left;
} 
.treegrid-expander{
	float: left;
    padding: 0.9em 0px;
    display: block;
    position: relative;
    left: -15px;
    cursor: pointer;
    width: 0px;
}
.dep-info{
	width: auto;
	float:left;
}
.dep-code, .dep-name{
	float: left;
	padding: .85rem;
}
.dep-tool{
	float: right;
}
.dep-tool a{
	display: inline-block;
    padding: 0 0.4em;
}
.dep-info.last-sub-dep{
	width: 100%;
}
.cl-default{
	color: #f4f4f4;
}
.cl-success{
	color: #00a65a;
}
.cl-warning{
	color: #f39c12;
}
.cl-info{
	color: #00acd6;
}
.cl-danger{
	color: #dd4b39;
}
.cl-primary{
	color: #3c8dbc;
}
.dep-tool a:hover i{
	color: blue;
}