.table {
  background: $white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  margin-top: 10px;
  // min-width: 678px;

  table {
    width: 100%;
  }

  thead {
    tr {
      background-color: $primary-color;

      th {
        text-align: center;
        font-weight: 500;
        overflow: hidden;
        padding: 9px 10px 8px;
        height: 25px;
        color: rgba(255,255,255,0.8);
        vertical-align: middle;
        text-transform: uppercase;
      }
    }
  }

  td {
    padding: 3px 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid $light;
    border-right: 1px solid rgba(0,0,0,0.05);
    height: 28px;
  }
}
table.tree-table th .form-group {
  margin-bottom: 0;
}

.table.tree-dot {
  border: solid 1px $c;
  td {
    border: none;
  }
  .treegrid-indent {
    position: relative;

    &:before {
      content: "";
      border-bottom: dotted 1px $c;
      bottom: 3px;
      height: 1px !important;
      position: absolute;
      display: block;
      left: 5px;
      right: 5px;
    }
  }

  .treegrid-expander {
    &:before {
      background: $white;
      z-index: 9;
      width: 17px;
      display: inline-block;
    }
  }

  [data-column="name"] {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -16px;
      width: 1px;
      border-left: dotted 1px $c;
      bottom: 16px;
      left: 15px;
    }
  }
  [data-parent="0"] [data-column="name"]{
      z-index:  9;
  }
  [data-level="1"] {
    > [data-column="name"] {
      &:before {
        top: 22px;
      }
    }
  }
}
[data-column="name"] {
    cursor: pointer;
}
.table.tree-dot{
  [data-column="name"]{
    cursor: auto;
  }
}
.table.tree-dot [data-parent="0"] {
    cursor:  pointer;
    &:hover{color: $primary-color;}
    [data-column="name"]{
      cursor: pointer;
    }
}

.text-center th,
.text-center th div {
  text-align: center;
}

.treegrid-indent {
  width: 0;
  height: 16px;
  display: inline-block;
  position: relative;
}

.treegrid-expander {
  width: 0;
  height: 16px;
  display: inline-block;
  position: relative;
  left: -17px;
  cursor: pointer;
}
td[colspan] {
    div {
        display: inline;
    }
    .dropdown.bacham {
        float:  right;
        text-align:  center;
        .dropdown-menu.dropdown-menu-right {
            top: -50%;
        }
    }
}

.table-2 .col-md-6:last-child {padding-left:  0;}
