<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smarttask Education</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <link type="text/css" th:href="@{/css/student/register_member.css}" rel="stylesheet"/>
    <!--<meta th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!--<input id="token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<div class="wrapper" style="background-color: #ffffff;">
    <section class="content">
<th:block th:if="${baiTapLon==null}">
    <p style="color: black">Hiên tại chưa có bài tập nào</p>
</th:block>
        <th:block th:if="${baiTapLon!=null}">
        <div class="listsv" style="border: none">
            <div style="width: 100%;height: 100px;background-color: white;color: black">
                <p th:text="${'Tên bài tập: '+baiTapLon.getNoiDung()}"></p>
                <p th:text="${'Được giao vào '+ #dates.format(baiTapLon.getNgayBatDau(), 'dd-MM-yyyy HH:mm a')+' và hạn nộp vào '+#dates.format(baiTapLon.getNgayKetThuc(), 'dd-MM-yyyy HH:mm a')}"></p>
                <p th:text="${'Số lượng sinh viên nộp bài (Đã nộp/tổng số): '+soLuongSVNopBT}"></p>
            </div>
            <table style="border: none" id="example" class="table  table-bordered">
                <tbody id="tb">
                <tr th:each="bt : ${baiTap}" style=" border: none !important;">
                    <td style="border: none">
                        <div class="md-checkbox">
                            <th:block th:if="${bt.id!=0}">
                                <a th:href="@{/tuonglop/download-bai-tap/}+${bt.id}" class="list-group-item table-content">
                                    <div class="media table-content-cell" style="width: 60%">
                                        <div class="media-left">
                                            <img class="media-object img-circle" th:src="@{/avatar/}+${bt.getSinhVien().getUser().getUserAvatar() != null ? bt.getSinhVien().getUser().getUserAvatar() : 'default.png'}" style="max-height: 40px; ">
                                        </div>
                                        <div class="media-body" style="min-width: 158px; padding-left: 25px;">
                                            <p th:text="${bt.getSinhVien().getUser().getFullName()}" class="media-heading"> Nguyễn Văn B</p>

                                            <span th:text="${bt.getSinhVien().getMaSinhVien()}" class="notification-location"> anv322@fpt.edu.vn </span>
                                        </div>
                                        <div class="media-right" style="padding-top: 10px; width: 197%; padding-left: 163px;">
                                            <span th:text="${bt.getFileName()}" class="notification-location"> anv322@fpt.edu.vn </span>

                                        </div>
                                    </div>

                                    <div style="padding-left: 200px" class="list-remove-btn table-content-cell" th:text="${#dates.format(bt.getNgayTao(), 'dd-MM-yyyy HH:mm a')}">Thêm</div>
                                </a>
                            </th:block>
                            <th:block th:if="${bt.id==0}">
                                <a href="#" class="list-group-item table-content">
                                    <div class="media table-content-cell" style="width: auto">
                                        <div class="media-left">
                                            <img class="media-object img-circle" th:src="@{/avatar/}+${bt.getSinhVien().getUser().getUserAvatar() != null ? bt.getSinhVien().getUser().getUserAvatar() : 'default.png'}" style="max-height: 40px; ">
                                        </div>
                                        <div class="media-body" style="width: 197%; padding-left: 25px;">
                                            <p th:text="${bt.getSinhVien().getUser().getFullName()}" class="media-heading"> Nguyễn Văn B</p>

                                            <span th:text="${bt.getSinhVien().getMaSinhVien()}" class="notification-location"> anv322@fpt.edu.vn </span>
                                        </div>
                                        <div class="media-right" style="padding-top: 10px; width: 197%; padding-left: 222px;">
                                          <th:block th:if="${bt.getFileName()!=null}">
                                              <span  th:text="${bt.getFileName()}" class="notification-location"> anv322@fpt.edu.vn </span>
                                          </th:block>
                                            <th:block th:if="${bt.getFileName()==null}">
                                                <span  class="notification-location" style="color: red;float: left;width: 104px">Chưa hoàn thành </span>
                                            </th:block>
                                        </div>
                                    </div>
                                    <th:block th:if="${bt.getNgayTao()!=null}">
                                        <div style="padding-left: 200px" class="list-remove-btn table-content-cell" th:text="${#dates.format(bt.getNgayTao(), 'dd-MM-yyyy HH:mm a')}">Thêm</div>
                                    </th:block>
                                    <th:block th:if="${bt.getNgayTao()==null}">
                                        <div style="padding-left: 200px;color: red" class="list-remove-btn table-content-cell" >Chưa hoàn thành</div>
                                    </th:block>
                                 </a>
                            </th:block>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </th:block>
    </section>
</div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    function reply_click(clicked_id) {
        var a = document.getElementById(clicked_id).style.backgroundColor;
        if (a.length == 0 || a == 'white') {
            document.getElementById(clicked_id).style.backgroundColor = '#f8f8f8';
        } else {
            document.getElementById(clicked_id).style.backgroundColor = 'white';
        }
        // var token = document.getElementById('token').value;
        // console.log(token);
        var $dism = $('.inbox-widget');
        $dism.find('a').remove();
        var inputVal = clicked_id;
        var listitem = '';
        if (!document.getElementById(clicked_id).checked) {
            document.getElementById(clicked_id).checked = false;
        } else {
            document.getElementById(clicked_id).checked = true;
        }
        var base_url = [[@{
            /}]];
            $.ajax({
                // headers: {'X-CSRF-Token': token},
                type: "POST",
                data: {search: inputVal},
                url: base_url + "api/member",
                success: function (responseJson) {
                    var $dis = $('.inbox-widget');
                    $dis.find('a').remove();
                    $.each(responseJson, function (key, value) {
                        var masv = value['maSinhVien'];
                        var user = value['user'];
                        var html = '<a href="#">\n' +
                            '    <div class="inbox-item">\n' +
                            '        <div class="inbox-item-img">\n' +
                            '            <img src="http://www.simsglobe.com/img/1ygKgisU.png" class="rounded-circle" alt="">\n' +
                            '        </div>\n' +
                            '        <p class="inbox-item-author">';
                        html = html + user.fullName;
                        html = html + '</p>\n' +
                            '        <p class="inbox-item-text">' + user.userEmail + '</p>\n' +
                            '    </div>\n' +
                            '</a>'
                        ;
                        listitem = listitem + html;
                    });
                    $('.inbox-widget').append(listitem);
                }
            })
        }
</script>




