/**
 * Styling top level items
 */
 .box-body{
 	padding: 0 2%;
 }
.nav ul {
	list-style: none;	
}
.nav__list{
	padding: 0;
}
.nav a, .nav label {
	display: block;
	padding: .85rem;
	color: #000000;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
}

.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
	color: #000000;	
}

.nav label {
	cursor: pointer;
}

/**
 * Hide nested lists
 */
.group-list, .sub-group-list, .sub-sub-group-list {
	height: 100%;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .5s ease-in-out;
	transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked+div+ul {
	/* reset the height when checkbox is checked */
	max-height: 1000px;
}

/**
 * Rotating chevron icon
 */
label>span {
	float: left;
	-webkit-transition: -webkit-transform .65s ease;
	transition: transform .65s ease;
}

.nav__list input[type=checkbox]:checked+div>label>span {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
/*
Tampv style
*/
.box.box-default{
	margin-bottom: 0;
	padding-bottom: 30px;	
}
.nav__list li{
	width: 100%;
	float: left;
	box-shadow: inset 0 -1px #d3d3d3;
}
.nav__list li li,
.nav__list li:last-child{
	box-shadow: none;
}
.group-info{
	width: 100%;
	float: left;
	box-shadow: inset 0 -1px #d3d3d3;
}
.group-info:hover{
	background: #f7f7f7;
}
.icon-drop{
	width: 2%;
	float:left;
}
nav label.icon-drop{
	padding-top: 0.9em;
}
.dep-info{
	width: 98%;
	float:left;
}
.dep-code, .dep-name{
	float: left;
	padding: .85rem;
}
nav .dep-code{
	color: blue;
	text-decoration: underline;
}
.dep-tool{
	float: right;
}
.dep-tool a{
	display: inline-block;
}
.dep-info.last-sub-dep{
	width: 100%;
}
.cl-default{
	color: #f4f4f4;
}
.cl-success{
	color: #00a65a;
}
.cl-warning{
	color: #f39c12;
}
.cl-info{
	color: #00acd6;
}
.cl-danger{
	color: #dd4b39;
}
.cl-primary{
	color: #3c8dbc;
}